<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

  <!--========== CSS ==========-->
  <link rel="stylesheet" href="/assets/css/styles.css">

  <title>Little Bugs</title>
</head>

<body>

  <!--========== SCROLL TOP ==========-->
  <a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
  </a>

  <!-- Header for the page-->
  <%- include('header') -%>

    <main class="l-main">
      <!--========== SEARCH ==========-->
      <!--<section class="contact section bd-container" id="contact">
                 <div class="contact__container bd-grid">
                    <div class="contact__data">
                        <span class="section-subtitle contact__initial">Let's talk</span>
                        <h2 class="section-title contact__initial">Contact us</h2>
                        <p class="contact__description">If you want to reserve a table in our restaurant, contact us and we will attend you quickly, with our 24/7 chat service.</p>
                    </div> 

                    <div class="bd-grid">
                        <div class="search">
                           <input type="text" class="searchTerm" placeholder="What are you looking for?">
                           <button type="submit" class="searchButton">
                             <i class="fa fa-search"></i>
                          </button>
                        </div>
                     </div>
                </div>
            </section>
             -->
      <!--========== HOME ==========-->
      <section class="home" id="home">
        <div class="home__container bd-container bd-grid">
          <div class="home__data">
            <h1 class="home__title">Little bugs</h1>
            <h2 class="home__subtitle">Our Children <br> deserve the best.</h2>
            <!-- <a href="/shop" class="button">New Collection</a> -->
          </div>

          <img src="/assets/img/toyImages/teddy.jpg" alt="" class="home__img">
        </div>
      </section>
      <!--=============VIEW PORT==============-->

      <section class="row bd-container section">
        <div class="column__big">
          <div class="banner__container">
            <!-- <h3>Age 4-6</h3> -->
            <!-- <h1 class="banner__text__description">Educational Toys</h1> -->
            <img src="/assets/img/mideer_1.jpg" alt="Avatar" class="banner__image">
            <div class="banner__text__middle">
              <div class="banner__text">Show Now</div>
            </div>
          </div>
        </div>

        <div class="column">
          <!-- <h3>Educational Toys</h3> -->
          <div class="banner__container">
            <img src="/assets/img/fun_activity_games-scaled_1.jpg" alt="Avatar" class="banner__image">
            <!-- <h3 class="banner__text__description">Educational Toys</h3> -->
            <div class="banner__text__middle">
              
              <a href="/searchcategory/Educational Toys" class="banner__text">Educational Toys</a>
            </div>
          </div>
          <div class="banner__container">
            <!-- <h3>Age 4-6</h3> -->
            <img src="/assets/img/shipping-02-scaled_1.jpg" alt="Avatar" class="banner__image">
            <!-- <h3 class="banner__text__description">Educational Toys</h3> -->
            <div class="banner__text__middle">
              <a href="/searchcategory/Age 1-3" class="banner__text">Age 1-3</a>
            </div>
          </div>
          <!-- <img src="/assets/img/shipping-02-scaled_1.jpg"> -->

        </div>

        <div class="column">
          <!-- <img src="/assets/img/bannerimg4_1.jpg"> -->
          <div class="banner__container">
            <!-- <h3>Age 1-3</h3> -->
            <!-- <h3 class="banner__text__description">Educational Toys</h3> -->
            <img src="/assets/img/bannerimg4_1.jpg" alt="Avatar" class="banner__image">
            <div class="banner__text__middle">
              <div class="banner__text">Shop Now</div>
            </div>
          </div>
          <div class="banner__container">
            <!-- <h3>Age 4-6</h3> -->
            <img src="/assets/img/bannerimg5_1.jpg" alt="Avatar" class="banner__image">
            <div class="banner__text__middle">
              <div class="banner__text">Shop Now</div>
            </div>
          </div>
        </div>
      </section>


      <!-- <section class="menu "> -->
      <section class="menu section bd-container" id="carousel__container">
        <span class="section-subtitle">Special</span>
        <h2 class="section-title">New Collection </h2>
        <div class="carousel bd-container"
          data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
          <div class="carousel-cell">
            <img src="/assets/img/Rickshaw-removebg-preview.png" alt="" class="menu__img">
          </div>
          <div class="carousel-cell">
            <img src="/assets/img/popup-removebg-preview.png" alt="" class="menu__img">
          </div>
          <div class="carousel-cell">
            <img src="/assets/img/doll_house-removebg.png" alt="" class="menu__img">
          </div>
          <div class="carousel-cell">
            <img src="/assets/img/rc_helicopter-removebg.png" alt="" class="menu__img">
          </div>
        </div>
      </section>
      <!-- <div class="carousel bd-container"  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false }'>
                <div class="carousel-cell">
                        <img src="/assets/img/Rickshaw-removebg-preview.png" alt="" class="menu__img">  
                </div>
                <div class="carousel-cell">
                        <img src="/assets/img/popup.jpg" alt="" class="menu__img">
                </div>
                <div class="carousel-cell">
                        <img src="/assets/img/Rickshaw-removebg-preview.png" alt="" class="menu__img">
                </div>
                <div class="carousel-cell">
                        <img src="/assets/img/Rickshaw-removebg-preview.png" alt="" class="menu__img">  
                </div>
             </div> -->
      <!-- </section> -->
      <!--========== MENU ==========-->
      <section class="menu section bd-container" id="trend__menu">
        <span class="section-subtitle">Special</span>
        <h2 class="section-title">New Collection </h2>

        <div class="menu__container bd-grid">
          <% data.forEach(function(product) { if(product.p_id>13){return;}%>
            <div class="menu__content">
              <img src="assets/img/<%= product.img %>" alt="" class="menu__img">
              <h3 class="menu__name">
                <%= product.name %>
              </h3>
              <!-- <span class="menu__detail"><%= product.detail %></span> -->

              <span class="menu__preci">INR <%= product.price %></span>
              <a href="/product/<%= product.p_id %>" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
            </div>
            <!-- <%= product.p_id %>
                    <%= product.name %> -->
            <% }); %>

        </div>
      </section>

      <!-- SERVICES -->
      <%- include('services') -%>


        <!-- ABOUT -->
        <%- include('about') -%>

          <!-- MOBILE APP -->
          <%- include('app') -%>

            <!--========== CONTACT US ==========-->
            <section class="contact section bd-container" id="contact">
              <div class="contact__container bd-grid">
                <div class="contact__data">
                  <span class="section-subtitle contact__initial">Let's talk</span>
                  <h2 class="section-title contact__initial">Contact us</h2>
                  <p class="contact__description">If you want to reserve a table in our restaurant, contact us and we
                    will attend you quickly, with our 24/7 chat service.</p>
                </div>

                <div class="contact__button">
                  <a href="#" class="button">Contact us now</a>
                </div>
              </div>
            </section>
    </main>

    <!--========== FOOTER ==========-->
    <%- include('footer') -%>

      <!--========== SCROLL REVEAL ==========-->
      <script src="https://unpkg.com/scrollreveal"></script>

      <!--========== MAIN JS ==========-->
      <script src="/assets/js/main.js"></script>
      <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>

</html>