<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/assets/css/styles.css">

        <title>Responsive website food</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

         <!--========== HEADER ==========-->
         <%- include('header') -%>

        <main class="l-main">

             <!--========== ABOUT ==========-->
             <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <img src="/assets/img/<%= data[0].img %>" alt="" class="about__img">    
                    <div class="about__data">
                        <span class="section-subtitle about__initial">Sale</span>
                        <h2 class="section-title about__initial"><%= data[0].name %></h2>
                        <h2 class="section-subtitle-rate">INR <%= data[0].price %></h2>
                        <!-- <ul class="about__description">
                        <% for(var i=0;i<data[0].detail.length;i++) { %>
                        <li><p class="about__description"></p><%= data[0].detail[i] %></p></li>
                        <% }; %>
                        </ul> -->
                        <a href="/add-to-cart/<%= data[0].p_id %>" class="button">Buy Now</a>
                        <a href="/add-to-cart/<%= data[0].p_id %>" class="button">Add To Cart</a>
                        <a href="/product/<%= data[0].p_id %>" class="button"><i class='bx bx-heart'></i></a>
                        <!-- <div>
                        <a href="/add-to-cart/<%= data[0].p_id %>" class="button">Buy Now</a>
                        <a href="/add-to-cart/<%= data[0].p_id %>" class="button">Add To Cart</a>
                        <a href="/product/<%= data[0].p_id %>" class="button"><i class='bx bx-heart'></i></a>
                        </div> -->
                        <a href="/product/<%= data[0].p_id %>" class="button"><i class='bx bxs-heart'></i></a>
                    </div>
                       
                </div>

<div class="detail_section">
    <div class="about__data">
        <!-- <span class="section-subtitle about__initial">Sale</span> -->
        <h2 class="about__description">Details:</h2>
        <ol class="about__description">
        <% for(var i=0;i<data[0].detail.length;i++) { %>
        <li><p class="about__description"></p><%= data[0].detail[i] %></p></li>
        <% }; %>
        </ol>
        
    </div>

</div>

            </section>

<!---->
            <!-- ========== PRODUCT ==========
            <section class="home" id="home">
                <div class="home__container pd-container bd-grid">
                    <img src="/assets/img/<%= data[0].img %>" alt="" class="product__img">
                    
                    <div class="home__data">
                        <h1 class="product__title"><%= data[0].name %></h1>
                        <h1 class="product__price">$<%= data[0].price %></h1>
                        <h3 class="product__subtitle"><%= data[0].detail %></h3>
                        
                        
                        <a href="#menu" class="cart_button">Add To Cart</a>
                    </div>
    
                    
                </div> 
            -->

           <!-- Header for the page-->
            <%- include('services') -%>  

            <!--========== CONTACT US ==========-->
            <section class="contact section bd-container" id="contact">
                <div class="contact__container bd-grid">
                    <div class="contact__data">
                        <span class="section-subtitle contact__initial">Let's talk</span>
                        <h2 class="section-title contact__initial">Contact us</h2>
                        <p class="contact__description">If you want to reserve a table in our restaurant, contact us and we will attend you quickly, with our 24/7 chat service.</p>
                    </div>

                    <div class="contact__button">
                        <a href="#" class="button">Contact us now</a>
                    </div>
                </div>
            </section>
        </main>

         <!--========== FOOTER ==========-->
         <%- include('footer') -%> 

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="/assets/js/main.js"></script>
    </body>
</html>