<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!--========== CSS ==========-->
  <link rel="stylesheet" href="/assets/css/styles.css">

  <title>Responsive website food</title>
</head>

<body>

  <!--========== SCROLL TOP ==========-->
  <a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bx-chevron-up scrolltop__icon'></i>
  </a>

  <!--========== HEADER ==========-->
  <%- include('header') -%>

    <main class="l-main">

      <!--========== ABOUT ==========-->
      <section class="about section bd-container" id="about">

        <!--========== PRODUCT ==========-->
        <div class="about__container  bd-grid">
          <h1> Reset Password for the <%= email %></h1>
          <br/> 
          

          <form action="/users/reset-password" class="login__create" id="forget-password" method="POST">
            <h1 class="login__title">Reset Password</h1>
    
            <input type="hidden" name="id" value="<%= payloadParams.id %>"/>
            <input type="hidden" name="token" value="<%= payloadParams.token %>"/>

            <div class="login__box">
              <!-- <label for="password">Password</label> -->
              <i class='bx bx-lock-alt login__icon'></i>
            <input type="password" name="password1" class="login__input" id="password" placeholder="Password" />
            </div>
            <div class="login__box">
              <!-- <label for="password">Password</label> -->
              <i class='bx bx-lock-alt login__icon'></i>
            <input type="password" name="password2" class="login__input" id="password2" placeholder="Confirm Password" />
            </div>
            <button class="login__button" type="submit">Submit</button>

            <div class="login__social">
                <a href="#" class="login__social-icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="login__social-icon"><i class='bx bxl-twitter' ></i></a>
                <a href="#" class="login__social-icon"><i class='bx bxl-google' ></i></a>
            </div>
        </form>

        </div>
      </section>

      <!-- Header for the page-->
      <%- include('services') -%>

        <!--========== CONTACT US ==========-->
        <section class="contact section bd-container" id="contact">
          <div class="contact__container bd-grid">
            <div class="contact__data">
              <span class="section-subtitle contact__initial">Let's talk</span>
              <h2 class="section-title contact__initial">Contact us</h2>
              <p class="contact__description">If you want to reserve a table in our restaurant, contact us and we will
                attend you quickly, with our 24/7 chat service.</p>
            </div>

            <div class="contact__button">
              <a href="#" class="button">Contact us now</a>
            </div>
          </div>
        </section>


    </main>


    <!-- ================SNACKBAR Div ==================-->
    <div class="alert" id="snackbar"></div>

    <!--========== FOOTER ==========-->
    <%- include('footer') -%>

      <!--========== SCROLL REVEAL ==========-->
      <script src="https://unpkg.com/scrollreveal"></script>

      <!--========== JQUERY CDN ==========-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <!--========== MAIN JS ==========-->
      <script src="/assets/js/main.js"></script>
      <script src="/assets/js/product.js"></script>

</body>

</html>