<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <title>Little Bugs</title>
</head>

<body>

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <!--========== HEADER ==========-->
    <%- include('header') -%>

        <main class="l-main">
            
            <!--========== PRODUCT LIST ==========-->
            <section class="menu section bd-container" id="menu">
                
               
                    <div class="filter">
                        <% if(data.text.category != ""){ %>
                        <div class="sort__filter__box">
                                <div class="sort__filter__box__a">
                                        <a href="/">Home</a> / <a href="/shop?sort=<%= data.sort %>&category=<%= data.text.category %>"> <%= data.text.category %> </a>
                                </div>
                        </div>
                        <%}%>
                       
                        <div class="container_results">
                            <% if(data.previous || data.next) { %>
                            <div class="dropdown">
                                <button class="dropbtn" id="sort-dropdown" >Sort</button>
                                <div class="dropdown-content">
                                    <% if(data.text.category !="" && data.text.key == "") { %>
                                        <a href="/shop?sort=Price Low-to-High&category=<%= data.sort_text %>">Price Low-to-High</a>
                                    <% } %>
                                    <% if((data.text.key == "" || data.text.key !="") && data.text.category =="") { %>
                                        <a href="/shop?sort=Price Low-to-High&text=<%= data.sort_text %>">Price Low-to-High</a>
                                    <% } %>
                                    <% if(data.text.category !="" && data.text.key == "") { %>
                                        <a href="/shop?sort=Price High-to-Low&category=<%= data.sort_text %>">Price High-to-Low</a>
                                    <% } %>
                                    <% if((data.text.key == "" || data.text.key !="") && data.text.category =="") { %>
                                        <a href="/shop?sort=Price High-to-Low&text=<%= data.sort_text %>">Price High-to-Low</a>
                                    <% } %>
                                </div>
                            </div>
                            <% } %>
                            <% if(data.text.key !="" ) {%>
                                <h3 class="section-subtitle">Search results for: "<%= data.text.key %>"</h3>
                                <%} if(data.results.length==0){%>
                                    <h2 class="section-subtitle">No Results found for your query</h2>
                                    <%}%>
                        </div>
                    </div>
                    <span class="section-subtitle">My Wishlist</span>
                        <div class="menu__container bd-grid">
                            <% for(i in data.results) { %>
                                <div class="menu__content"> 
                                    <form action="/wishlist-toggle" method="POST">
                                        <input type="hidden" id="wishlist" name="wishlist" value="kuch" />
                                        <input type="hidden" id="pid_<%= data.results[i].p_id %>" name="pid" value="<%= data.results[i].p_id %>" /> 
            
                                        <% var cl = (wishlist.includes(data.results[i].p_id)) ? "bxs-heart" : "bx-heart" %>
                                                <button type="submit" class="heart__button__list"><i id="heart_<%= data.results[i].p_id %>" class='bx <%= cl %>'></i></button>
                                    </form>
                                    <a href="/product/<%= data.results[i].p_id %>">
                                    <img src="/assets/img/<%= data.results[i].img %>" alt="" class="menu__img">
                                    <h3 class="menu__name">
                                        <%= data.results[i].name %>
                                    </h3>

                                    <span class="menu__preci">INR <%= data.results[i].price %></span>
                                    <a href="/add-to-cart/<%= data.results[i].p_id %>" class="button menu__button"><i
                                            class='bx bx-cart-alt'></i></a>
                                    </a>
                                </div>
                                <% }; %>
                            </div>
                                    <!--========== PAGINATION ==========-->
                        <div class="pagination">
                            <% if(data.previous) { %>
                                <% if(data.text.category !="" && data.text.key == "") { %>
                                    <a href="/shop?page=<%= data.previous.page %>&sort=<%= data.sort %>&category=<%= data.text.category %>" class="pagination__previous" >&laquo; Previous</a>
                                <% } %>
                                <% if((data.text.key == "" || data.text.key !="") && data.text.category =="") { %>
                                    <a href="/shop?page=<%= data.previous.page %>&sort=<%= data.sort %>&text=<%= data.text.key %>" class="pagination__previous" >&laquo; Previous</a>
                                <% } %>
                                <% } %>
                            <% if(data.next) { %>
                                <% if(data.text.category !="" && data.text.key == "") { %>
                                    <a href="/shop?page=<%= data.next.page %>&sort=<%= data.sort %>&category=<%= data.text.category %>" class="pagination__next" >Next &raquo;</a>
                                <% } %>
                                <% if((data.text.key == "" || data.text.key !="") && data.text.category =="") { %>
                                    <a href="/shop?page=<%= data.next.page %>&sort=<%= data.sort %>&text=<%= data.text.key %>" class="pagination__next" >Next &raquo;</a>
                                <% } %>
                                <% } %>
                            <% if(data.pages) { %>
                                <% for(var i=1;i<=data.pages; i++) {%>
                                    <% if(data.page_selected==i){%>
                                        <a href="/searchcategory/<%= data.qry %>?page=<%= i %>" class="active">
                                            <%= i %>
                                        </a>
                                        <%} else{%>
                                            <a href="/searchcategory/<%= data.qry %>?page=<%= i %>">
                                                <%= i %>
                                            </a>
                                            <%}}%>
                                                <%}%>
                                                   
                        </div>
            </section>

            <!--===============SERVICES SECTION================-->
            <%- include('services') -%>

                <!--========== CONTACT US ==========-->
                <section class="contact section bd-container" id="contact">
                    <div class="contact__container bd-grid">
                        <div class="contact__data">
                            <span class="section-subtitle contact__initial">Let's talk</span>
                            <h2 class="section-title contact__initial">Contact us</h2>
                            <p class="contact__description">If you want to reserve a table in our restaurant, contact us
                                and we will attend you quickly, with our 24/7 chat service.</p>
                        </div>

                        <div class="contact__button">
                            <a href="#" class="button">Contact us now</a>
                        </div>
                    </div>
                </section>
        </main>

        <!--========== FOOTER ==========-->
        <%- include('footer') -%>

            <!--========== SCROLL REVEAL ==========-->
            <script src="https://unpkg.com/scrollreveal"></script>

            <!--========== JQUERY CDN ==========-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!--========== MAIN JS ==========-->
            <script src="/assets/js/main.js"></script>
</body>

</html>